POINTSTREAK_API_KEY=your_pointstreak_key
ALPB_API_KEY=your_alpb_key
POINTSTREAK_BASE_URL=https://api.pointstreak.com/baseball
ALPB_BASE_URL=https://1ywv9dczq5.execute-api.us-east-2.amazonaws.com/ALPBAPI
DEFAULT_SEASON_ID=34102
DASH_DEBUG=false
